fetch-employee/target/classes/fetch-employees.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="6936b91e-02a5-4a51-a88f-1cbe90302554" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="tarun@123" database="emp" />
	</db:config>
	<flow name="fetch-employeesFlow" doc:id="87df1502-1db0-4e7a-b93c-79c4db2dbc84" >
		<http:listener doc:name="Listener" doc:id="4f54ed37-b53b-45e2-9b36-6f60a21d7772" config-ref="HTTP_Listener_config" path="/fetchAll"/>
		<logger level="INFO" doc:name="Logger" doc:id="580bfba6-da0a-47c6-a282-68840ad452b7" message="Fetch All Employee records"/>
		<db:select doc:name="Select" doc:id="60298970-1ced-46ba-a2ba-37a3c5b23bb6" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="084cd23a-a29f-46d1-a3c0-bf887beb8b9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"empid":payload.empid,
	"empname":payload.empname,
	"city":payload.city
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
