fetch-employee/target/classes/fetch-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="47e35cef-8239-43cf-8891-a21c16fcc7b0" basePath="/emp" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="065949ab-a22b-4083-a8d6-7dda3ef959c5" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="tarun@123" database="emp" />
	</db:config>
	<flow name="fetch-employeeFlow" doc:id="4ebfe267-79eb-4853-86ad-e8aded580b8a" >
		<http:listener doc:name="Listener" doc:id="4ec3f129-4d37-4e10-a75a-8bf2faf8fa4e" config-ref="HTTP_Listener_config" path="/fetch"/>
		<logger level="INFO" doc:name="Application started" doc:id="44141634-28f2-4092-a731-48f7b07361c8" message="Fetch employee by id flow started : #[attributes.queryParams.empid]"/>
		<choice doc:name="Choice" doc:id="9cccef52-8fec-4f3f-a787-d2a942787742" >
			<when expression="#[isEmpty(attributes.queryParams.empid)]">
				<raise-error doc:name="Raise error" doc:id="60897feb-645d-4fea-b2b3-0cd9d34e2d17" type="EMPLOYEE:INVALID RECORD" description="please pass Query parameter"/>
			</when>
			<otherwise >
				<db:select doc:name="Fetch Emp by queryparam" doc:id="268021aa-0f0a-4723-8f31-9c79ac5156ed" config-ref="Database_Config">
			<db:sql><![CDATA[select empid,empname,city from employee where empid = :emp_id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	"emp_id" : attributes.queryParams.empid
}]]]></db:input-parameters>
		</db:select>
				<ee:transform doc:name="Transform Message" doc:id="47aa649e-9744-446f-9af1-a9b9d665c6ee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	empid: payload[0].empid default 0,
	empname: payload[0].empname default "",
	city: payload[0].city default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Final Response" doc:id="7f2b058d-082b-4ef7-b3dc-7f6b7dbd1ace" message="#[payload]"/>
	</flow>
</mule>
