fun/src/main/mule/fun.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f415df3d-ed3d-4776-9755-5774e1783888" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="funFlow" doc:id="1ca6edfd-1863-470e-bc5c-5b2cf013e4c7" >
		<http:listener doc:name="Listener" doc:id="dbc5de61-1faf-43b6-9676-bb299a3da7db" config-ref="HTTP_Listener_config" path="/fun"/>
		<ee:transform doc:name="Transform Message" doc:id="3c68d5c9-5a02-4305-902a-86ab7a701a12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
books:
{
	book: payload.bookstore.*book map(data,index)->{
		"name": data.title,
		"Author":data.author
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="981651c2-26ef-4bdc-bf04-eefd8a8453d5" message="#[payload]"/>
	</flow>
</mule>
