calculatorwebservice/src/main/mule/calculatorwebservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="df10e55b-3f61-4238-af2f-c09e02ae21d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0d02cd94-9cd9-46ff-8d68-3a0f171947d2" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="8956df81-71a9-423f-a4b8-ce2ba876d3e1" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="calculatorwebserviceFlow" doc:id="273e6b62-2a4d-4a9d-bdb5-57e9a153f4de" >
		<http:listener doc:name="Listener" doc:id="38594407-54ec-4086-a388-7332dcd8c31e" config-ref="HTTP_Listener_config1" path="/{action}" outputMimeType="application/json" allowedMethods="POST"/>
		<set-variable value="#[attributes.uriParams.action]" doc:name="Set Variable" doc:id="59011bec-c6af-4d35-83b6-fdc8e71e8528" variableName="action"/>
		<choice doc:name="Choice" doc:id="71a25be4-9e63-4400-88a4-a91c6c6db0d5">
			<when expression='#[vars.action=="add"]'>
				<ee:transform doc:name="Transform Message" doc:id="b9193d2f-83f3-4878-a606-8a4a4bc10cc3">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume operation="Add" doc:name="Consume" doc:id="9d39c93b-6e79-4ca8-a0c5-2e841cc705a9" config-ref="Web_Service_Consumer_Config"/>
				<ee:transform doc:name="Transform Message" doc:id="f4bdb6d7-717d-4f4f-9fb5-c292f51b88bb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	Result: {
		Operation: vars.action,
		ResultValue: payload.body.AddResponse.AddResult
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="8b2ec788-d163-461b-906d-ed3b86ceef38" type="CUSTOM_COLUMN_OPERATION" description="Opertaion not supported currently"/>
			</otherwise>
		</choice>
	</flow>
</mule>
