poco/src/main/mule/poco.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1bafec46-2d4b-478f-85c9-0a06f7302890" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="bdba46a9-6fe9-4239-8a5c-dfc29da163fd" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/output" />
	</file:config>
	<flow name="pocoFlow" doc:id="e4995535-d95a-44c5-9bdc-5a039160424e" >
		<http:listener doc:name="Listener" doc:id="6e5a079b-2d0f-4e7b-aa29-998ef8befc0a" config-ref="HTTP_Listener_config" path="/poco"/>
		<logger level="INFO" doc:name="Logger" doc:id="c98167be-8dae-47b0-b6e2-d0a38f8e6fbf" message="#[payload]"/>
		<foreach doc:name="For Each" doc:id="f27e3c92-1ec2-40b3-93fd-7eb1e6fe26dd" >
			<java:invoke-static method="col(int,int)" doc:name="Invoke static" doc:id="1b962d70-5f99-40a6-a199-cc33b6ca1f76" class="poco.Promo">
				<java:args ><![CDATA[#[{
	a:payload.a,
    b:payload.b
}]]]></java:args>
			</java:invoke-static>
			<ee:transform doc:name="Transform Message" doc:id="7b65117d-6602-4104-95ee-fc0cf3b90940" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="580fbd28-4088-4ec0-af18-7b1dbcb75d8e" config-ref="File_Config" path="/home/tarun/mule_project/Demo/output/result.json"/>
		</foreach>
	</flow>
</mule>
