java_component/src/main/mule/java_component.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a2036ca-a3e7-4950-9a07-ca76e8b342f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="6e10d26e-1fed-47f2-80b1-1931d50327cc" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/output" />
	</file:config>
	<flow name="java_componentFlow" doc:id="f2baca28-4692-4589-ae3a-0db178d120f4" >
		<http:listener doc:name="Listener" doc:id="716e8242-78bd-4616-b9da-5f0ca40639bf" config-ref="HTTP_Listener_config" path="/con"/>
		<logger level="INFO" doc:name="Logger" doc:id="5d6ce9fd-9214-45e9-ba91-d74934969038" message="#[payload]"/>
		<foreach doc:name="For Each" doc:id="fadcc33f-a26c-4cf7-badc-8cd5663bd807">
			<java:invoke-static method="concat(String,String)" doc:name="Invoke static" doc:id="4bf45f6d-7a75-4923-a743-196086e0111c" class="java_component.Sum">
			<java:args><![CDATA[#[output application/java
---
{
	s1:payload.fname,
	s2:payload.lname
}]]]></java:args>
		</java:invoke-static>
			<ee:transform doc:name="Transform Message" doc:id="770d5542-7d60-40c8-ad23-495536ca8336">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<file:write doc:name="Write" doc:id="652c390d-f59e-44ce-bc04-df0150e19ee5" config-ref="File_Config" path="#['My File'++(now() as String{format:'yyyy-MM-hh-mm-ss'})++'.txt']"/>
			<logger level="INFO" doc:name="Logger" doc:id="d9daeb1e-6860-40be-a832-6b1a5e8b1455" message="#[payload]" />
		</foreach>
	</flow>
</mule>
