mailgen/target/classes/mailgen.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7602c958-14c3-493a-bea1-31b4efa16f6a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="bf847b41-ddaa-45e9-85be-9c203c963e92" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="tarunsai20v@gmail.com" password="tarun@123" >
			<pooling-profile />
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="mailgenFlow" doc:id="d25db9be-377a-4eda-ac23-2d8d843fc6b8" >
		<http:listener doc:name="Listener" doc:id="e163cabf-3cd4-4ea3-93f6-7b6e31ffe9cd" config-ref="HTTP_Listener_config" path="/send"/>
		<ee:transform doc:name="Transform Message" doc:id="ecf20290-8616-4e6c-b1c7-99baeada181d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<email:send doc:name="Send" doc:id="468a3795-b94c-4eb9-8324-a8ded471bcfd" config-ref="Email_SMTP" fromAddress="tarunsai20v@gmail.com" subject="Mule Testing">
			<email:to-addresses >
				<email:to-address value="tarunsai9666@gmail.com" />
			</email:to-addresses>
			<email:cc-addresses />
			<email:reply-to-addresses >
				<email:reply-to-address value="tarunsai20v@gmail.com" />
			</email:reply-to-addresses>
			<email:body >
				<email:content ><![CDATA[#['Attachment attached']]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	"sample File": payload
	
	}]]]></email:attachments>
		</email:send>
	</flow>
</mule>
