cron/target/classes/cron.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="b0528b4e-f94c-43cb-980b-95073f159815" >
		<file:connection workingDir="/home/tarun/mule_project" />
	</file:config>
	<flow name="cronFlow" doc:id="85b60819-473e-49a4-a680-61d2bedab249" >
		<scheduler doc:name="Scheduler" doc:id="8864d969-3982-4689-b24c-d446957d6c7f" >
			<scheduling-strategy >
				<cron expression="0 0/2 * 1/1 * ? *" timeZone="ist" />
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="8a87733f-3019-4244-a57e-cad46a479862" config-ref="File_Config" path="/home/tarun/mule_project/emp.xml"/>
		<logger level="INFO" doc:name="Logger" doc:id="27dca83a-85a9-4147-bd39-50862e541667" message="#[payload]"/>
	</flow>
</mule>
