fileconsumer/src/main/mule/fileconsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="551553d5-5406-452f-a2e7-44ce49d0c1bc" >
		<file:connection workingDir="/home/tarun/TestData" />
	</file:config>
	<flow name="fileconsumerFlow" doc:id="7a217fe3-5470-4f9b-9c6a-7f95db8a4ac6" >
		<file:read doc:name="Read" doc:id="13029479-8265-43eb-8ffd-58e8b9fe125c" config-ref="File_Config" path="/home/tarun/TestData/input/test.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f73dc3f-80f4-447b-9d82-eb3e1a813902" message="#[payload]"/>
	</flow>
</mule>
