jms_activemq/target/classes/jms_activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="894335e9-7897-4987-a365-b3f0f7e8f703" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<jms:config name="JMS_Config1" doc:name="JMS Config" doc:id="1b944f07-3927-40f4-8d45-c015ade60545" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:caching-strategy >
				<jms:no-caching />
			</jms:caching-strategy>
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jms_activemqFlow" doc:id="8179a6b5-2652-42ca-9c56-bde9cf563094" >
		<jms:listener doc:name="Listner" doc:id="bd809942-efa5-4dee-ab5e-1e3af00f516d" config-ref="JMS_Config" destination="employeeQueue"/>
		<logger level="INFO" doc:name="Logger" doc:id="66df33fa-530c-42cb-865d-998f267036cd" message="#[payload]"/>
	</flow>
</mule>
