fileconvertor/target/classes/fileconvertor.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="7c83df34-4010-49b0-985b-7973ca643695" >
		<file:connection workingDir="/home/tarun/TestData/input" />
	</file:config>
	<flow name="fileconvertorFlow" doc:id="468f2fd2-32d9-4f15-a6da-00b251c8323f" >
		<file:listener doc:name="On New or Updated File" doc:id="4768523f-1451-42e9-a6fa-a3b44ea6d28f" config-ref="File_Config" directory="/home/tarun/TestData/input" autoDelete="true" moveToDirectory="/home/tarun/TestData/output" recursive="false" watermarkMode="MODIFIED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency frequency="5"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="402c6245-9571-47e4-9937-2f7b6b1c9438" message="#[payload]"/>
	</flow>
</mule>
