foreach_demo/target/classes/foreach_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="9aafd951-2301-4196-a5f9-359a1ca9f962" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/input" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="ce66fc81-0e64-4480-981b-86bf04bc74a0" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/output" />
	</file:config>
	<flow name="foreach_demoFlow" doc:id="5aebf142-98ec-46dd-b828-f35e04f322c0" >
		<file:listener doc:name="On New or Updated File" doc:id="3222fd3f-7dde-4a0f-b376-cfd7f716f79e" config-ref="File_Config" directory="/home/tarun/mule_project/Demo/input" autoDelete="true" moveToDirectory="/home/tarun/mule_project/Demo/output" timeBetweenSizeCheckUnit="HOURS">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="e12be358-5539-4ba1-90d9-d352dbbb1545">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f4d9818c-e3d6-4118-9981-a5c348b7c6ee" message="Before payloaf"/>
		<foreach doc:name="For Each" doc:id="016046f4-5b8b-4b1d-89ac-190855bb0e6b" collection="#[payload]">
			<logger level="INFO" doc:name="Logger" doc:id="6e4cc642-0266-4e0d-ba04-7625095bbb25" message="#[payload]" />
			<ee:transform doc:name="Transform Message" doc:id="d7032b17-10ea-49ac-80d0-9abc05fab2f6" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="e6d8c12f-b0b0-486c-92b2-ae3958810c60" config-ref="File_Config1" path="#[/home/tarun/mule_project/Demo/output/split++now()++'.csv']"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="8890258f-63ef-45c5-9b85-75c61c913391" message="After For each"/>
	</flow>
</mule>
