consume_restful/target/classes/consume_restful.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c13307d-b074-43a0-bd10-3cdba3f4ddfe" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="21b21205-e996-4584-a508-da29c5dab622" basePath="/api/flights" >
		<http:request-connection host="training-american-ws.cloudhub.io" port="80" >
			<tls:context />
		</http:request-connection>
	</http:request-config>
	<flow name="consume_restfulFlow" doc:id="62f37f7c-96a7-402c-9f54-5cc7f99fc7b0" >
		<http:listener doc:name="Listener" doc:id="f85879a3-bf78-4209-bc91-960d100ea332" config-ref="HTTP_Listener_config" path="/getAllFlights" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="f89c1808-4b39-47a3-a8cf-c13bf3f0fec5" config-ref="HTTP_Request_configuration" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="924fdc5b-916d-4455-a8f2-0e8ef8e005ad" message="#[payload]"/>
	</flow>
</mule>
