dataconfig/src/main/mule/dataconfig.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c129a36-befd-4766-9a55-055b0ed7ffb1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="647e2276-63fc-4041-b18a-b4a45481ef35" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="tarun@123" database="db" />
	</db:config>
	<flow name="dataconfigFlow" doc:id="4d5a7187-777a-440f-809f-0cc33c902ead" >
		<http:listener doc:name="Listener" doc:id="d540fa9a-a791-4f56-a93c-3ddc90e549f2" config-ref="HTTP_Listener_config" path="/get"/>
		<db:select doc:name="Select" doc:id="f40dbf38-6725-4f0e-b9e7-d222bd580a65" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from student]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8e615d84-0395-4880-8ceb-319c775c4c85" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
students: payload mapObject(value, key) -> { (key): value } 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c367cc61-bbfd-45d6-be68-ac635bb16f08" message="#[payload]"/>
	</flow>
</mule>
