vm/target/classes/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aff234a7-c0f6-456d-83b4-0e840ba2bd23" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="f7cbbc52-10d0-4e2d-bf55-e560a72e795b" >
		<vm:queues >
			<vm:queue queueName="vmqueue" />
		</vm:queues>
	</vm:config>
	<flow name="vmFlow" doc:id="a5341ef8-ce4a-461c-9215-ca5a436c3c54" >
		<http:listener doc:name="Listener" doc:id="be1f2c1e-e060-4e56-8f06-de865fc49172" config-ref="HTTP_Listener_config" path="/vm"/>
		<logger level="INFO" doc:name="Logger" doc:id="32803302-773a-4669-93a3-20463ce86025" message="Application started......"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="0c3d03af-f856-404c-8f31-34477e9400e6" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="162fa9b2-e923-438c-b24e-d750af5a5ea6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'name': payload.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88e42f94-13bb-4942-bbcd-ba1a3bad204a" message="Before VM #[payload]"/>
		<vm:publish queueName="vmqueue" doc:name="Publish" doc:id="d7df86fb-22e3-43cd-a73e-dc8273905a9a" config-ref="VM_Config"/>
	</flow>
	<flow name="vmFlow1" doc:id="e1c89f87-ffd3-4af8-8be8-8807fa995770" >
		<vm:listener queueName="vmqueue" doc:name="Listener" doc:id="bac4f6b7-495d-4133-96ed-07b90d355a60" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="b2f5acdb-0106-4414-a6bc-093293a80d21" message="after #[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="7bdf9989-a2d6-4d1a-9ac6-33333cb1b93b" message="after VM variable #[vars.name]"/>
		<ee:transform doc:name="Transform Message" doc:id="61d7e642-1eda-4327-a353-8cac7a9320cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	data:payload,
	variable:vars.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
