oauth/target/classes/oauth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="06814e9a-3605-4872-8667-044b4d9ff9ac" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="3a9075b7-3630-46db-8b80-397f9b58faaa" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="afbf2bdf-58b0-4ccb-a1ff-f0243716e675" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="a9c2f096-4a54-414f-81cb-8f75a1b8c02b" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS" >
		<oauth2-provider:token-config tokenStore="token_os" />
		<oauth2-provider:clients />
	</oauth2-provider:config>
	<flow name="oauthFlow" doc:id="e391a67a-ca90-490b-b178-a0f8be103152" >
		<http:listener doc:name="Listener" doc:id="763c9d6b-de31-4c34-8477-2f5f01c89fea" config-ref="HTTP_Listener_config" path="/create"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="c622cc25-299a-4a3b-b8e6-69e6e48234f3" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type="CONFIDENTIAL" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" redirectUris='#[["tarun.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]'/>
		<set-payload value="#['CLIENT CREATED']" doc:name="Set Payload" doc:id="69403db1-174f-4130-87fd-783f9fe603aa" />
	</flow>
	<flow name="oauthFlow1" doc:id="0a64cbf7-7c69-4ac8-85bd-7898cc869c46" >
		<http:listener doc:name="Listener" doc:id="c9bad6c2-07c6-4613-9587-a0118eac98bd" config-ref="HTTP_Listener_config" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="ebd4ed5e-5627-4885-af2c-1f17a3c302ed" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d1d82648-540b-44f7-9b3c-6d1513da9c9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
