batch_process/target/classes/batch_process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="6d8c7c26-5812-43ef-9dca-97d7deb61617" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/input" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b64d6cc2-34e7-414c-bc0c-adb2c3feda1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="af01374d-771e-4e1c-bd3b-f7f301f6d616" >
		<file:connection workingDir="/home/tarun/mule_project/Demo/input" />
	</file:config>
	<flow name="batch_processFlow" doc:id="38a59f55-ebb8-4c5f-81f2-81812fbebc22" >
		<file:listener doc:name="On New or Updated File" doc:id="a2cd0b0f-e354-412c-a390-a12fb0a537ba" config-ref="File_Config1" directory="/home/tarun/mule_project/Demo/input" autoDelete="true" moveToDirectory="/home/tarun/mule_project/Demo/output">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="04fe3dd0-ede3-4466-8659-4d54f2de409b" message="#[payload]"/>
		<batch:job jobName="batch_processBatch_Job" doc:id="779be990-84b9-4fe1-b509-e325408053ae" blockSize="10">
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="68112713-e2d4-48af-8f48-ef1ca32b9fb0" >
					<file:write doc:name="Write" doc:id="f74cdb9d-4162-44ac-8ea5-6f5197a82608" path="/home/tarun/mule_project/Demo/output/split.csv"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="5c5dc4ea-77ad-4d03-b54e-5407390e8e30" message="#[payload]"/>
	</flow>
</mule>
